bin/
obj/
.vs/
.vscode/
*.user
*.suo
*.VC.db
*.ipch
*.cache
*.log
*.pdb
*.tlog
*.idb
*.opendb
*.ilk
*.aps
*.ncb
*.sdf
*.opensdf
*.exe
*.dll
*.lib
*.exp
*.iobj
*.ipdb
*.rsp
*.pch
*.tmp
*.bak
*.swp
*.sln.docstates
*.pfx
dll/build/
dll/.vscode/
BundleArtifacts/