<?xml version="1.0" encoding="utf-8"?>

<Package
  xmlns="http://schemas.microsoft.com/appx/manifest/foundation/windows10"
  xmlns:mp="http://schemas.microsoft.com/appx/2014/phone/manifest"
  xmlns:uap="http://schemas.microsoft.com/appx/manifest/uap/windows10"
  xmlns:rescap="http://schemas.microsoft.com/appx/manifest/foundation/windows10/restrictedcapabilities"
  xmlns:uap18="http://schemas.microsoft.com/appx/manifest/uap/windows10/18"
  xmlns:iot="http://schemas.microsoft.com/appx/manifest/iot/windows10"
  IgnorableNamespaces="uap rescap uap18 iot">

  <Identity
    Name="439ff8fe-4919-42fa-bb4e-cfcf5e103811"
    Publisher="CN=Petalzu"
    Version="0.1.2.0" />

  <mp:PhoneIdentity PhoneProductId="439ff8fe-4919-42fa-bb4e-cfcf5e103810" PhonePublisherId="00000000-0000-0000-0000-000000000000"/>

  <Properties>
    <DisplayName>PetalMPRTester</DisplayName>
    <PublisherDisplayName>Petalzu</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>

  <Dependencies>
    <TargetDeviceFamily Name="Windows.Universal" MinVersion="10.0.17763.0" MaxVersionTested="10.0.19041.0" />
    <TargetDeviceFamily Name="Windows.Desktop" MinVersion="10.0.17763.0" MaxVersionTested="10.0.19041.0" />
  </Dependencies>

  <Resources>
    <Resource Language="x-generate"/>
  </Resources>

  <Applications>
    <Application Id="App"
      Executable="$targetnametoken$.exe"
      EntryPoint="$targetentrypoint$" uap18:RuntimeBehavior="windowsApp" uap18:TrustLevel="appContainer">
      <uap:VisualElements
        DisplayName="PetalMPRTester"
        Description="PetalMPRTester (Petal Mouse polling Rate Tester)is a modern Windows desktop application for testing and analyzing mouse polling rates."
        BackgroundColor="transparent"
        Square150x150Logo="Assets\Square44x44Logo.png"
        Square44x44Logo="Assets\Square44x44Logo.png">
        <uap:DefaultTile Wide310x150Logo="Assets\Square44x44Logo.png"  Square71x71Logo="Assets\Square44x44Logo.png" Square310x310Logo="Assets\Square44x44Logo.png"/>
        <uap:SplashScreen Image="Assets\Square44x44Logo.png" />
      </uap:VisualElements>
    </Application>
  </Applications>

  <Capabilities>
    <rescap:Capability Name="runFullTrust" />
    <iot:Capability Name="lowLevelDevices"/>
    <DeviceCapability Name="lowLevel"/>
  </Capabilities>
</Package>
